
<div class="container-fluid">

  <div class="row">
    <h1 class="text-center bg-secondary py-5 m-0">My Awesome App</h1>
  </div>

  <div class="row full-height">
    <as-split direction="horizontal" class="p-0">
      <as-split-area [size]="20">
        <div class="p-3">
          <app-cv-list></app-cv-list>
        </div>
      </as-split-area>
      <as-split-area [size]="80">
        <div *ngIf="cvId !== 0">
          <div class="p-3">
            <app-navbar></app-navbar>
          </div>
          <router-outlet></router-outlet>
        </div>
      </as-split-area>
    </as-split>
  </div>

</div>
