
<div class="container auto-scroll">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let formation of formations">
      <app-formation-form [formation]="formation" [cvId]=cvId></app-formation-form>
    </li>
    <li class="list-group-item">
      <div class="text-center my-2">
        <button class="btn btn-primary" (click)="newProject()">New Formation</button>
      </div>
      <div class="text-center my-2">
        <button class="btn btn-primary" (click)="onSubmit()">Save</button>
      </div>
    </li>
  </ul>
</div>
