
<div class="container">

<!--  <input type="file" (change)="onFileChanged($event)" #fileInput>-->
<!--  <button (click)="fileInput.click()">Select File</button>-->
<!--  <p>{{imageName}}</p>-->

  <div class="mb-4">
    <input type="file" (change)="onFileChanged($event)" #fileInput>
    <label for="image" class="form-label">Image</label>
    <p class="form-control" id="image" (click)="fileInput.click()" >{{imageName}}</p>
  </div>

<!--  <div class="mb-4">-->
<!--    <input type="file" (change)="onFileChanged($event)" #fileInput>-->
<!--    <label for="image" class="form-label">Image</label>-->
<!--    <input type="text" class="form-control" id="image" (click)="fileInput.click()" value="{{imageName}}" disabled>-->
<!--  </div>-->

  <form (ngSubmit)="onSubmit()" #personForm="ngForm">
    <div class="mb-4">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="person.firstName" required>
    </div>
    <div class="mb-4">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="person.lastName" required>
    </div>
    <div class="mb-4">
      <label for="job" class="form-label">Job</label>
      <input type="text" class="form-control" id="job" name="job" [(ngModel)]="person.job" required>
    </div>
    <div class="mb-4">
      <label for="profile" class="form-label">Profile</label>
      <textarea class="form-control" id="profile" name="profile" [(ngModel)]="person.profile" required></textarea>
    </div>
    <div class="text-center my-2">
      <button type="submit" class="btn btn-primary" [disabled]="!personForm.form.valid">Save</button>
    </div>
  </form>

</div>
